<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- FONTAWSOME  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app" class="container">
            <div class="logo">
            <img src="img/images (1).jpg" alt="logo">
            </div>
        
            <div class="new-task">
            <input
                v-model.trim="newTask"
                type="text"
                placeholder="Nuova Task"
                @keyup.enter="addTask"
            >
            <button @click="addTask">Aggiungi</button>
            <p
                class="error"
            >{{errorMsg}}</p>
            </div>
        
        
            <div class="task-container">
            <ul v-if="tasks.length > 0">
                <li
                v-for="(task, index) in tasks"
                :class="{'done' : task.done}"
                @click="task.done =!this.done"
                >
                <span>{{ task.text }}</span>
                <i @click="removeTask(index)" class="fa-solid fa-trash"></i>
                </li>
            </ul>
            <h3 v-else>Non ci sono task</h3>
            </div>
        </div>


        <!-- vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- js -->
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>